# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignora la cartella di build
/target/

# Ignora le configurazioni utente di IntelliJ (workspace, ecc.)
.idea/
*.iml
*.iws

# Ignora i file di sistema Mac
.DS_Store
